// Colors

$blue: rgb(4,30,66);
$red: rgb(200,0,28); /* #c8001c */
$light-red: rgb(255,239,241); /* #ffeff1 */
$gray: rgb(226,226,226);
$dark-gray: rgb(107, 114, 128);
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$primary: rgb(51,85,128); /* #335580 */
$accent: rgb(0,212,243); /* #00d4f3 */
$dark: rgb(17, 24, 39);