@media ( min-width: 768px ) {
    .with-sidebar {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 4rem;
    }
    .with-two-sidebar {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 2rem;
    }
}